@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lago Ximilpa 173<br />
    Pensil Norte<br />
    <abbr title="Phone">P:</abbr>
    55-87-16-06-18
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">contacto@ticapitalhumano.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">comercial@ticapitalhumano.com</a>
</address>