<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFAlumno" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64561/WCFAlumno.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFAlumno" contract="ServRefWCFAlumno.IWCFAlumno"
                name="BasicHttpBinding_IWCFAlumno" />
        </client>
    </system.serviceModel>
</configuration>